@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
:root {
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
   --Dark-grayish-blue: hsl(227, 10%, 46%);
   --Dark-gray: hsl(0, 0%, 59%) ;
}
body{ 
    background-color: var(--Dark-cyan);
    font-size: 18px;
    font-family: 'kumbh sans', sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 1.5rem;
    background-image: url(/imagen/bg-pattern-top.svg), url(/imagen/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: right 48vw bottom 40vh, left 45vw top 44vh;
}
.container{
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    z-index: 999;
}
.container .avatar{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -50px;
}
.container .avatar img{
    border-radius: 50%;
    border: 5px solid white;
}
.container .name{
    margin-top: 60px;
    text-align: center;
    font-size: 25px;
    color: var(--Very-dark-desaturated-blue);
    margin-bottom: 1rem;
}
.container .name span{
    color: var(--Dark-gray);
    font-weight: 400;
}
.container .city{
    text-align: center;
    color: var(--Dark-gray);
    margin-bottom: 2rem;
}
.hr{
    border: none;
    height: 1px;
    background-color: var(--Dark-gray);
    margin-bottom: 2rem;
}
.container .details{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}
.container .details .num{
    text-align: center;
    font-weight: 700;
    color: var(--Very-dark-desaturated-blue);
    margin-bottom: 5px;
}
.container .details .details-1{
    font-size: 15px;
    color: var(--Very-dark-desaturated-blue);
    text-align: center;
}